<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="@/assets/logo_winker.png" alt="Winker" style="max-width: 200px;">
        <br/>
        <blockquote>
          O Aglio Generator surgiu para facilitar a documentação da API da <a href="https:///winker.com.br/">Winker</a>.
        </blockquote>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #F89C27;
}
</style>