<template>
  <v-container>
    <v-slide-y-transition mode="out-in">
      <v-layout align-space-between justify-center column fill-height>
        <div class="text-xs-center">
          <img src="@/assets/aglio_logo.png" alt="Aglio" style="max-width: 200px;">
        </div>

        <v-flex xs12 sm6 d-flex>

            <v-form v-model="valid">
              <v-select
                :items="methods"
                v-model="method"
                label="Method"
                :rules="[v => !!v || 'Method is required']"
              ></v-select>

              <v-text-field
                v-model="noun"
                label="Noun"
                :rules="[v => !!v || 'Noun is required']"
                required
              ></v-text-field>

              <v-text-field
                v-model="group"
                label="Group"
                :rules="[v => !!v || 'Group is required']"
                required
              ></v-text-field>

              <v-text-field
                v-model="title"
                label="Title"
                :rules="[v => !!v || 'Title is required']"
                required
              ></v-text-field>

              <v-text-field
                v-model="subtitle"
                label="Subtitle"
                :rules="[v => !!v || 'Subtitle is required']"
                required
              ></v-text-field>

              <v-textarea
                v-model="json_response"
                label="Json Response"
                hint='Example: {
                  "id": "1",
                  "name": "Winker"
                }'
                :rules="[v => !!v || 'Json Response is required']"
                rows="8"
                required
              ></v-textarea>

              <div class="text-xs-center">
                <v-btn
                  color="secondary"
                  :disabled="!valid"
                  large
                  round
                  append
                  @click="generate"
                >
                  Generate
                </v-btn>
                <v-btn
                  color="success"
                  v-if="aglioResponse"
                  v-clipboard:copy="aglioResponse"
                  v-clipboard:success="copy"
                  large
                  round
                  append
                >
                  Copy
                </v-btn>
              </div>
            </v-form>

        </v-flex>

        <div class="text-xs-center align-end">
          <v-alert
            v-model="showCopiedAlert"
            type="success"
            transition="scale-transition"
            dismissible
          >
              {{ copiedAlertText }}
          </v-alert>
          <v-alert
            v-model="showErrorAlert"
            type="error"
            transition="scale-transition"
            dismissible
          >
              {{ errorAlertText }}
          </v-alert>
        </div>

        <v-flex xs12 sm6 d-flex>
          <v-textarea 
            v-if="aglioResponse"
            v-model="aglioResponse"
            id="response"
            box
            readonly
            style="padding-top: 2%"
            rows="8"
            success
            >
          </v-textarea>
        </v-flex>

      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #f89c27;
}
</style>

<script>
export default {
  data () {
    return {
      valid: true,
      methods: ['GET', 'POST', 'DELETE', 'PUT'],
      method: '',
      noun: '',
      group: '',
      title: '',
      subtitle: '',
      json_response: '',
      aglioResponse: '',
      showCopiedAlert: false,
      copiedAlertText: 'Copied!',
      showErrorAlert: false,
      errorAlertText: ''
    }
  },
  methods: {
    generate () {
      let result =
       '# Group ' +
       this.group +
      '\n\n' +
      '## ' +
      this.title +
      ' [/' + this.noun + '/]\n\n' +
      '+ Parameter\n' +
      '    +\n\n' +
      '### ' +
      this.subtitle +
      ' [' + this.method + ']\n' +
      '+ Request\n' +
      '    + Headers\n\n' +
      '        Accept: application/json\n' +
      '        Content-Type: application/json\n' +
      '        Authorization: JWT\n\n\n'

      if (this.json_response && this.isValidJSON()) {
        result = result + this.createObj()

        this.aglioResponse = result
      }
    },
    capitalize (string) {
      if (string.length > 0) {
        return string[0].toUpperCase() + string.slice(1)
      }
    },
    createObj () {
      let obj = JSON.parse(this.json_response)
      let makeObj = '## ' + this.capitalize(this.noun) + ' (object)\n'

      Object.entries(obj).forEach(
        ([key, value]) => {
          if (typeof value === 'object') {
            makeObj = this.createObjects(makeObj, key, value)
          }

          if (typeof value !== 'object') {
            makeObj =
              makeObj +
              '+' +
              key +
              ': `' +
              value +
              '` (' +
              typeof value +
              ') -\n'
          }
        }
      )

      return makeObj
    },
    createObjects (makeObj, key, value) {
      makeObj =
        makeObj +
        '+' +
        key +
        ': -\n`'

      Object.entries(value).forEach(
        ([key, valueInsideValue]) => {
          if (typeof valueInsideValue === 'object') {
            Object.entries(valueInsideValue).forEach(
              ([key, value]) => {
                makeObj = this.returnMakeObj(makeObj, key, value)
              }
            )
          }

          if (typeof valueInsideValue !== 'object') {
            makeObj = this.returnMakeObj(makeObj, key, value)
          }
        })

      return makeObj
    },
    returnMakeObj (makeObj, key, value) {
      return makeObj +
        '    +' +
        key +
        ': `' +
        value +
        '` (' +
        typeof value +
        ') -\n'
    },
    isValidJSON () {
      try {
        JSON.parse(this.json_response)
      } catch (e) {
        this.aglioResponse = ''

        this.errorAlert('Invalid JSON')

        return false
      }

      return true
    },
    copy () {
      this.showCopiedAlert = true

      setTimeout(() => {
        this.showCopiedAlert = false
      }, 2000)
    },
    errorAlert (errorText) {
      this.errorAlertText = errorText
      this.showErrorAlert = true

      setTimeout(() => {
        this.showErrorAlert = false
      }, 4000)
    }
  },
  name: 'App'
}
</script>