<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in items"
          :key="i"
          @click="goTo(item.redirectTo)"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content color="secondary">
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      color="primary"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer" dark></v-toolbar-side-icon>
      <v-toolbar-title v-text="title" class="white--text"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer app>
      <span>&copy; {{ currentYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      fixed: true,
      items: [
        {
          icon: 'apps',
          title: 'Generator',
          redirectTo: '/#/'
        },
        {
          icon: 'help_outline',
          title: 'Sobre',
          redirectTo: '/#/About'
        }
      ],
      title: 'Aglio Generator'
    }
  },
  methods: {
    currentYear () {
      return new Date().getFullYear()
    },
    goTo (redirectTo) {
      window.location.href = redirectTo
    }
  },
  name: 'App'
}
</script>
